@import 'https://use.typekit.net/oov2wcw.css';

*{
  margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: century-gothic, sans-serif;
}

body{
	background:  lightblue;
}

header{
	background:  #333;
	color: white;
	padding: 10px;
	text-align: center;
}

#dropdown-button{
	background:  #333;
	color: white;
	padding: 10px;
	text-align: center;
	cursor: pointer;
}

.dropdown-content{
	background:  #333;
	color: white;
	padding: 10px;
	text-align: center;
	cursor: pointer;
}

#dropdown-button + .active{
	background-color:red;
}