@import 'https://use.typekit.net/oov2wcw.css';

*{
  margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: century-gothic, sans-serif;
}

body{
	background:  lightblue;
}

header{
	background:  #333;
	color: white;
	padding: 10px;
	text-align: center;
}

#dropdown-button{
	background:  #333;
	color: white;
	padding: 10px;
	text-align: center;
	cursor: pointer;
}

.dropdown-content{
	display:none;
	background:  #333;
	color: white;
	padding: 10px;
	text-align: center;
	cursor: pointer;
}

#dropdown-button + .active{
	display:block
}

.image-carousel{
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 70%;
	max-width:1000px;
	position:relative;
	margin: auto;
}
.image-carousel >div> img{
	width:80vw;
	height:80vh;
	object-fit: cover;
}

.prev, .next{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.prev{
	left: 0;
	border-radius: 3px 0 0 3px;
}

.next{
	right: 0;
	border-radius: 3px 0 0 3px;
}
